@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "../../node_modules/material-colors/dist/colors.scss";

// required if using svg icon spritesheets
.hide {
	display: none;
}

body {
	background-color: $md-grey-100;
	padding: 20px;
}

.list-group-item button, a {
	float: right;
}

.completed {
	text-decoration: line-through;
}
