@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "../../node_modules/material-colors/dist/colors.scss";

.hide, input.edit {
	display: none;
}

body {
	background-color: $md-grey-100;
	padding: 20px;
}

button.task-submit-new, button.clear-completed {
	background-color: $md-blue-grey-200;
	border: none;
	color: #fff;
	width: auto;
	margin: 5px 0;
	padding: 3px 10px;
	border-radius: 3px;
	text-transform: uppercase;
	float: right;
}

.form-inline {
	height: 50px;
	margin-bottom: 40px;
	display: block;
}

.list-group {
	margin-bottom: 10px;
}

.list-group-item {
	.task-label {
	}
	.controls {
		float: right;
		button {
			text-transform: uppercase;
			color: $md-blue-grey-500;
			border: none;
			background-color: transparent;
		}
	}
	&.editing {
		label {
			display: none;
		}
		input {
			display: inline-block;
		}
	}
	&.completed {
		text-decoration: line-through;
		color: $md-grey-300;
	}
}

.counter {
	color: $md-blue-grey-200;
	margin: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	span.num {
		color: #fff;
		border-radius: 15px;
		background-color: $md-blue-grey-300;
		padding: 2px 5px;
	}
}

.prompt {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: $md-grey-500;
}

pre {
	margin: {
		top: 10px;
		bottom: 10px;
	}
	font-size: 10px;
}
