<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- inject:css -->
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<!-- endinject -->
	
	<!-- main user styles -->
	<link rel="stylesheet" href="styles/styles.css">

</head>

<body>
	<!-- inject:svg -->
	<!-- endinject -->
	
	<main>
		
		<h1>Vue.js tasks</h1>
		
		<div id="app">
			
			<div class="form-group">
				<input type="text" class="form-control"
					v-model="newTask" 
					@keyup.enter="addTask" 
					placeholder="Add a task..." 
				>
			</div>

			<p class="counter"><span class="num">{{ remaining }}</span> tasks left</p>
			<ul class="list-group">
				<li class="list-group-item" 
					:class="{ 'completed' : task.completed, 'editing' : task.editing }" 
					v-for="task in tasks" 
				>
					<span class="taskname" 
						v-show="!task.editing"
					>
						{{ task.text }}
					</span>
					<span class="controls">
						<button @click="toggleEdit( task )"
						v-if="!task.completed" 
						>Edit</button>

						<button @click="toggleCompleted( task )"
						v-if="!task.completed" 
						>X</button>
						<button v-else
							@click="toggleCompleted( task )" 
						>Undo</button>
					</span>

					<input type="text"  
						v-if="task.editing" 
						v-model="editedTask" 
						@keyup.enter="completeEdit( task )" 
						@blur="toggleEdit( task )" 
						placeholder="{{ task.text }}"
					>
				</li>
			</ul>

			<button class="btn btn-default" 
			@click="clearCompleted" 
			>
			Clear completed
			</button>

			<template id="tasks-template"></template>


			<pre>{{ $data | json }}</pre>


		</div>
		
	</main>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="scripts/vendors/vue.js"></script>
	
	<!--inject:js-->
	<script src="scripts/vendors/bootstrap.min.js"></script>
	<script src="scripts/main.js"></script>
	<!--endinject-->
</body>
</html>
